html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	height: 100%;
	font: 12px/16px Arial, Tahoma, sans-serif;
	background-color: #f6f6f6;
}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a, a:hover {text-decoration: none;}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
@media screen and (min-width: 481px){
	.inner_menu_verh .active_mob,
	.menu_mob{
		display: none;
	}
	.menu a:hover,
	.news a:hover,
	.archive_news a:hover,
	.items a:hover span{
		color: #549ef1; /* голубой */
		}
	.base2 a:hover{
		color: #ffde00; /* желтый */
		}
	.submenu a:hover span,
	span.basket a:hover,
	.menu_verh a:hover,
	.mini_nav a:hover,
	.ITconstruct a:hover,
	.submenu a:hover.login,
	.submenu a:hover.logup{
		color: #ffde00; /* желтый */
		}
	.menu a:active,
	.news a:active,
	.archive_news a:active,
	.items a:active span,
	.base2 a:active,
	.submenu a:active span,
	span.basket a:active,
	.menu_verh a:active,
	.mini_nav a:active,
	.ITconstruct a:active{
		color: #F16A54; /* красный? */
		} 
	.ITconstruct a:visited{
		color: #549ef1; /* голубой? */
		}
	#wrapper{
		min-height: 100%;
		height: auto !important;
		height: 100%;
		max-width: 100%;
	}
	.header{
		background: url(image/h-bg.png) repeat;
		height: 270px;
	}
	.container{
		max-width: 964px;
		margin: 0 auto;
		padding: 0 10px;
	}
	.top{width: 944px;}
	.logo{
		position: relative;
		display: inline-block;
		margin-top: 15px;
		width: 209px;
	    height: 201px;
		text-align: center;
		font-size: 24px;
		color: #e7eeef;
		text-transform: uppercase;
		background-color: #080808;
		-webkit-border-radius: 20px;
		-ms-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
		border-radius: 20px;
		border: 1px solid #7f7f7f;
	}
	.logo .im_logo{
		position: absolute;
		top: 43px;
		left: 61px;
		width: 95px;
		height:75px;
	}
	.logo .im_company{
		position: relative;
	    top: 141px;
	    text-align: center;
	    color: #e7eeef;
	}
	.contact_bg{
		float: right;
	    width: 725px;
	    height: 201px;
		margin: 15px 0 5px 0;
		background: url(image/h-bg2.png) no-repeat;
		border: 1px solid #7f7f7f;
		-webkit-border-radius: 20px;
		-ms-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
		-webkit-box-shadow: inset 0 0 73px rgba(0,0,0,1), 9px 0 21px rgba(0,0,0, 0.5);
		-ms-box-shadow: inset 0 0 73px rgba(0,0,0,1), 9px 0 21px rgba(0,0,0, 0.5);
		-moz-box-shadow: inset 0 0 73px rgba(0,0,0,1), 9px 0 21px rgba(0,0,0, 0.5);
		-o-box-shadow:inset 0 0 73px rgba(0,0,0,1), 9px 0 21px rgba(0,0,0, 0.5);
	}
	.base1{
		display: block;
		float: right;
		width: 437px;
		height: 45px;
		margin-top: 13px;
		background: rgba(21, 2, 0, 0.55);
		padding: 7px 0 0px 31px;
		top:14px;
		right: 75px;
		font: italic bold 24px 'Arial';
		color: #e7eeef;
		border-radius: 15px 0 0 15px;
	}
	.base2{
		display: block;
		float: left;
		left: 285px;
		width: 385px;
		height: 45px;
		margin-top: 90px;
		background: rgba(21, 2, 0, 0.55);
		padding: 5px 0 0 30px;
		bottom: 0;
		margin-bottom: 7px;
		left: 0;
		font: italic bold 24px 'Arial';
		color: #e7eeef;
		border-radius: 0 10px 10px 14px;
	}
	.base2 a{
		color: #e7eeef;
		font: 14px 'Arial';
	}
	.base2 > a.phone{
		float: right;
		padding: 8px 35px 9px 0;
	    font: 17px 'Arial Narrow';
	}
	.submenu{
		position: relative;
		background: url(image/submenu-base.png) repeat-x;
		border: 1px solid #4a4a4a;
		margin: 9px 0px;
    	height: 36px;
		border-radius: 20px;
		box-shadow: 2px 13.2px 8px rgba(0, 0, 0, 0.4);
	}
	.submenu span{
		float:left;
		font: 12px 'Tahoma';
		color: #bfbfbf;
		padding: 10px 4px 10px 22px;
	}
	.submenu span.pass{
		padding: 11px 5px 11px 18px;
	}
	.submenu a.login{
	    font: bold 12px 'Tahoma';
	    color: #f6f6f6;
	    text-decoration: underline;
	    margin: 10px 9px 0 11px;
	    display: inline-block;
	}
	.submenu a.logup{
	    font: bold 12px 'Tahoma';
	    color: #f6f6f6;
	    text-decoration: underline;
	    margin: 10px 0 0 15px;
	    display: inline-block;
	}
	.input_text:focus{ /* курсор в форме */
		float:left;
		width: 116px;
		height: 21px;
		background: linear-gradient(#b5bcbd, #ffffff);
		margin: 7px 3px;
		border-radius: 5px; 
		padding-left: 8px;
		border: none;
		font: 12px 'Tahoma';
	}
	.input_text:invalid{ /* в поле текста нет */
		float:left;
		width: 116px;
		height: 21px;
		background: linear-gradient(#707779, #4e5658);
		margin: 7px 3px;
		border-radius: 5px; 
		padding-left: 8px;
		border: none;
		font: 12px 'Tahoma';
	}
	.input_text:valid{ /* в поле текст*/
		float:left;
		width: 116px;
		height: 21px;
		background: linear-gradient(#b5bcbd, #ffffff);
		margin: 7px 3px;
		border-radius: 5px; 
		padding-left: 8px;
		border: none;
		font: 12px 'Tahoma';
	}
	.submenu a {
		color: #f6f6f6;
		text-decoration: underline;
	}
	.submenu img{
		float: right;
		padding: 8px 12px;;
	}
	.submenu span.basket{
	    color: #ffffff;
	    float: right;
	    padding: 11px 28px 0 0;
	}
	span.basket > a{
		color: #ffffff;
	}
	.menu_verh{
		width: 100%;
		height: 48px;
		background: url(image/main_nav-bg.png) repeat-x;
		box-shadow: 2px 2px 28.5px rgba(0,0,0, 0.8);
	}
	.inner_menu_verh{
		display: flex;
		padding: 15px 34px;
    	justify-content: space-between;
	}
	.inner_menu_verh li:last-child{margin-right: 7px;}
	.menu_verh a{
		display: block;
		font: 16px 'Arial';
		color: #ffffff;
		text-decoration: underline;
	}
	.menu_verh .active{
		color: #ffde00;
	}
	.items{height: 722px;}
	.product{
		float: left;
		width: 220px;
		height: 182px; 
		margin: 4px 30px 49px 2px;
	}
	.items .active img{
		outline: 5px solid #00b31d; /* зеленый */
		outline-offset: -5px;
	}
	.items .active span{
		color: #549ef1;
	}
	.product:nth-child(3n){margin: 4px 0 48px 0;}
	.product img{
		width: 220px;
		height: 155px;
		outline: 5px solid #797979;
    	outline-offset: -5px;
	}
	.product span{
		display: inline-block;
		font: 15.01px 'Arial';
		color: #005bc1;
		text-decoration: underline;
		padding: 5px 0 0 0px;
	}
	.sidebar{
		float: left;
		width: 190px;
	}
	.content{
		float: right;
		width: 726px;
	}
	.middle {
		margin-top: 50px;
		padding-bottom: 266px;
	}
	.menu h3{
		font: 17px 'Arial';
		font-weight: bold;
		color: #c24000;
		margin: 0 5px 10px 0px;
	}
	.menu{
		margin-bottom: 63px;
	}
	.menu li{
		padding: 13px 0 0 3px;
	}
	.menu li:first-child{padding: 10px 0 0 2px;}
	.menu a{
		display: inline-block;
	    text-decoration: underline;
	    font: 13px 'Arial';
	    color: #005bc1;
	}
	.news h3{
		font: 17px 'Arial';
		color: #058b7a;
		margin: 70px 0 16px 1px;
		font-weight: bold;
	}
	.news a{
		font: 11px 'Arial';
		color: #005bc1;
		text-decoration: underline;
	}
	.news li{padding: 0.5px 27px 0px 1.8px;}
	.news li:first-child{padding: 3px 24px 2px 2px;}
	.date{
		display: block;
		color: #666666;
		margin-top: 5px;
		font-size: 10px
	}
	li.line{
		display: block;
		width: 140px;
		border-bottom: 2px solid #dadada;
		margin: 10.4px 0px 10px 1px;
	}
	.archive_news{
		margin: 25px 0 0 1px;
		font: 13px 'Arial';
	}
	.archive_news a{
		font: 13px 'Arial';
		color: #005bc1;
		text-decoration: underline;
	}
	.quality{
	    float: right;
	    width: 724px;
	    height: 415px;
	    text-align: justify;
	}
	.quality strong{
		font: bold 13px 'Arial';
		padding-bottom: 20px;
	}
	.quality p{
	    padding-top: 16px;
		font: 12px/16px 'Arial';
	}
	#footer{
		position: relative;
		background: url(image/h-bg.png) repeat;
		height: 170px;
		margin-top: -170px;
	}
	.copyrigth{
		float: left;
		width: 219px;
	}
	.copyrigth .copy1{
		display: block;
		padding: 20px 0 6px 0;
		font: 11px 'Arial';
		color: #a4a4a4;
	}
	.copyrigth .copy2{
		display: block;
		font: 12px 'Tahoma';
		color: #a4a4a4;
	}
	.f_logo img{
		position: relative;
		margin: 19px 8px 0 8px;
		width: 35px;
		height: 28px;
	}
	.f_logo span{
		position: relative;
	    padding: 0 212px 0 0;
	    text-transform: uppercase;
	    font: 9px 'Arial';
	    color: #e7eeef;
	}
	.mini_nav{
		float: left;
		width: 450px;
		margin-top: 18px;
	}
	.mini_nav li{
		float: left;
		padding-right: 8.3px;
	}
	.mini_nav li.divider{
		float: left;
		padding-right: 9px;
		color: #ffffff;
	}
	.mini_nav li:last-child{padding-right: 0;}
	.mini_nav a{
		text-decoration: underline;
		font: 11px 'Arial';
		color: #ffffff;
	}
	.ITconstruct{
	    float: right;
	    margin-top: 20px;
	    margin-right: -6px;
	    width: 170px;
	}
	.ITconstruct span{
		float: left;
		font: 11px 'Arial';
		color: #ffffff;
	}
	.ITconstruct a{
		text-decoration: underline;
		color: #ffffff;
	}
	.ITconstruct img{
		float: right;
		padding: 52px 7px;
	}
	.items a:hover img{
		outline: 5px solid #00b31d; /* зеленый */
		outline-offset: -5px;
	}
}
@media screen and (min-width:319px) and (max-width: 481px) {
	.menu,
	.mini_nav,
	.submenu span.log,
	.submenu span.pass,
	.input_text
	{
		display: none;
	}
	.menu a:hover,
	.news a:hover,
	.archive_news a:hover,
	.items a:hover span{
		color: #549ef1; /* голубой */
		}
	.base2 a:hover,
	.submenu a:hover span,
	span.basket a:hover,
	.menu_verh a:hover,
	.mini_nav a:hover,
	.ITconstruct a:hover,
	.submenu a:hover.login,
	.submenu a:hover.logup,
	.inner_menu_verh li a:hover.catalog{
		color: #ffde00; /* желтый */
		}
	.base2 > a:active.phone,
	.base2 > a:active.mail,
	.catalog a:active,
	.submenu a:active.login,
	.submenu a:active.logup,
	.inner_menu_verh li a:active.catalog,
	.news a:active,
	.archive_news a:active,
	.items a:active span,
	span.basket a:active,
	.menu_verh a:active,
	.mini_nav a:active,
	.ITconstruct a:active{
		color: #F16A54; /* красный? */
		} 
	.ITconstruct a:visited{
		color: #549ef1; /* голубой? */
		}
	.items a:hover img{
		outline: 5px solid #00b31d; /* зеленый */
		outline-offset: -5px;
	}
	#wrapper{
		min-height: 100%;
		height: auto !important;
		height: 100%;
		max-width: 100%;
	}
	.header{
		background: url(image/h-bg.png) repeat;
		height: 290px;
		width: 480px;
	}
	.container{
		width: 480px;
		margin: 0 auto;
		padding: 0 27px;
	}
	.logo{
		display: inline-block;
		margin: 15px 0;
		width: 425px;
	    height: 201px;
		font-size: 24px;
		color: #e7eeef;
		text-transform: uppercase;
		background-color: #080808;
		-webkit-border-radius: 20px;
		-ms-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
		border-radius: 20px;
		border: 1px solid #7f7f7f;
	}
	.logo .im_logo{
		position: absolute;
		top: 56px;
    	left: 78px;
	}
	.logo .im_company{
		position: relative;
	    top: 139px;
    	left: 25px;
    	color: #e7eeef;
	}
	.base2 a{
		color: #e7eeef;
	}
	.base2 > a.phone{
		position: absolute;
		width: 227px;
	    font: 1.5em 'Arial Narrow';
	    top: 51px;
	    left: 233px;
	}
	.base2 > a.mail{
		position: absolute;
	    font: 14px 'Arial';
	    top: 79px;
	    left: 232px;
	    text-decoration: underline;
	}
	.base1{
		position: absolute;
		top: 123px;
		left: 232px;
		font: italic bold 24px 'Arial';
		color: #e7eeef;
	}
	.submenu{
	    background: url(image/submenu-base.png) repeat-x;
	    border: 1px solid #4a4a4a;
	    margin-top: 3px;
	    height: 36px;
	    border-radius: 20px;
	    box-shadow: 2px 13.2px 8px rgba(0, 0, 0, 0.4);
	}
	.submenu a.login{
		display: inline-block;
	    font: bold 12px 'Tahoma';
	    color: #f6f6f6;
	    text-decoration: underline;
		margin-left: 25px;
	}
	.submenu a.logup{
		display: inline-block;
	    font: bold 12px 'Tahoma';
	    color: #f6f6f6;
		text-decoration: underline;
	    margin: 10px 0 0 18px;
	}
	.submenu span.basket{
	    color: #ffffff;
	    float: right;
	    padding: 11px 18px 0 0;
	}
	span.basket > a{
		text-decoration: underline;
		color: #ffffff;
	}
	.submenu img{
	    float: right;
		margin: 8px 6px 0 0;
	}
	.menu_verh{
		width: 480px;
		height: 440px;
		background-color: #7c8384;
	}
	.menu_mob img{
		float: left;
		margin-top: 18px;
	}
	.menu_mob a.active{
		display: inline-block;
    	margin: 22px 0 0 18px;
		font: 15px 'Arial';
		color: #ffe558;
	}
	.inner_menu_verh > li{
		display: block;
		margin: 16px 0 0 44px;
	}
	.inner_menu_verh > li:first-child{
		margin: 25px 0 0 44px;
	}
	.inner_menu_verh a{
		font: 15px 'Arial';
		color: #ffffff;
		text-decoration: underline;
	}
	.inner_menu_verh li a.catalog {
		display: block;
		background-color: #ffffff;
		text-decoration: underline;
		font: 15px 'Arial';
		color: #005bc1;
		margin: -9px 311px 0 -18px;
	    padding: 10px 0 0 19px;
	    border-radius: 10px 10px 0 0;
	}
	.content{
		width: 100%;
	}
	.active_mob{
		height: 155px;
		background-color: #ffffff;
		padding: 24px 20px;
		margin-left: -18px;
		border-radius: 0 10px 10px;
	}
	.active_mob li{
		float: left;
    	margin: 0 13px 14px 0;
	}
	.active_mob a{
		text-decoration: underline;
		font: italic 15px 'Arial';
		color: #005bc1;
	}
	.product{
		float: left;
		width: 205px;
		height: 182px; 
		margin: 4px 30px 49px 2px;
	}
	.items .active img{
		outline: 5px solid #00b31d; /* зеленый */
		outline-offset: -5px;
	}
	.items .active span{
		color: #549ef1;
	}
	.product:nth-child(n){margin: 41px 0 0 0;}
	.product:nth-child(2n){margin: 41px 0 0 15px;}
	.product img{
		width: 206px;
    	height: 145px;
		outline: 5px solid #797979;
    	outline-offset: -5px;
	}
	.product span{
		display: inline-block;
		font: 15.01px 'Arial';
		color: #005bc1;
		text-decoration: underline;
		padding: 5px 0 0 0px;
	}
	.news h3{
	    font: bold 21px 'Arial';
	    color: #058b7a;
	    margin: 34px 0 16px 0px;
	}
	.news a{
		font: 15px 'Arial';
		color: #005bc1;
		text-decoration: underline;
	}
	.news li{padding: 13px 0 0px 0;}
	.news li:first-child{padding: 1px 0 0 0;}
	.date{
		display: block;
		color: #666666;
		margin-top: 10px;
    	font-size: 13px;
	}
	li.line{
		display: block;
		border-bottom: 2px solid #dadada;
		margin: 3px 0 0 0;
	}
	.archive_news{
		margin: 19px 0 0 -1px;
	}
	.archive_news a{
		font: 15px 'Arial';
		color: #005bc1;
		text-decoration: underline;
	}
	.quality{
		margin-top: 48px;
	}
	.quality strong{
		font: bold 21px 'Arial';
		color: #666666;
	}
	.quality p{
	    padding-top: 10px;
		font: 15px/19px 'Arial';
	}
	#footer{
		background: url(image/h-bg.png) repeat;
		width: 480px;
		height: 170px;
		margin-top: 54px;
	}
	.copyrigth{
		float: left;
		width: 219px;
		height: 170px;
	}
	.copyrigth .copy1{
		display: block;
		padding: 40px 0 6px 2px;
		font: 11px 'Arial';
		color: #a4a4a4;
	}
	.copyrigth .copy2{
		display: block;
		font: 12px 'Tahoma';
		color: #a4a4a4;
	}
	.f_logo img{
		margin: 19px 8px 0 11px;
		height: 28px;
	}
	.f_logo span{
	    padding: 0 116px 0 1px;
	    text-transform: uppercase;
	    font: 9px 'Arial';
	    color: #e7eeef;
	}
	.ITconstruct{
	    float: right;
	    margin-top: 19px;
	    width: 170px;
	}
	.ITconstruct span{
		float: right;
	    display: block;
	    margin-top: 21px;
	    font: 11px 'Arial';
	    color: #ffffff;
	    margin-right: 2px;
	}
	.ITconstruct a{
		text-decoration: underline;
		color: #ffffff;
	}
	.ITconstruct img{
		float: right;
		padding: 46px 1px 0 0
	}
}
